<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <div id="header_wrap" class="outer">
    <header class="inner" style="padding: 10px 10px 10px 10px;">
      <h2 id="project_title">TileCode</h2>
      <h3 id="project_tagline">Design, Code and Play Games on MakeCode Arcade Devices</h3>
    </header>
</div>

  <body>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

  </body>
</html>